/*
div{
  padding: 20px;
  text-align: center;
  border: solid 2px black;
}
*/
#header{
  padding: 20px;
  text-align: center;
  border: solid 2px black;
  background-color:PeachPuff;
}
#nav{
  
  padding: 5px;
  text-align: center;
  border: solid 2px black;
  background-color:Khaki;
}

.container{
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  border: solid 2px black;
}

.panel{
  flex:1;
  text-align: center;
  border: solid 2px black;
  min-height:500px;
  background-color:Gold;
}
#centerpanel{
  flex:3;
  text-align: center;
  border: solid 2px black;
  min-height:500px;
  background-color:Plum;
}
#foot{
  border: solid 2px black;
  background-color:PapayaWhip;
}

.card{
  /*flex:1;   THIS SQUISHES */
  /*flex-basis:150px   */
  width:450px;
  margin:5px;
  padding:5px;
  border:1px solid black;
  text-align:center;
  background-color:#dedfe7;
}
/* target all h4 elements*/
h4{
  color:#0000ff;
}
/*target all the paragraphs in the card class*/
.card p{
  font-size:17px;
  color: black;
  font-family:verdana;
  font-style:italic;
}
.card div{
  font-weight: bold;
  text-decoration: underline;
  font-size:15px;
  color: black;
  font-family:verdana;
  font-style:italic;
}
.card di2{
  font-size:17px;
  color: black;
  font-family:verdana;
  font-style:italic;
}
.card img{
  width:75px;
  height:75px;
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:cornflowerblue;
}
